/LaserCut/nbproject/private/
/LaserCut/build/
/LaserCut/dist/
/HTML5Application/nbproject/private/
/JavaFXApplication9/nbproject/private/
/JavaFXApplication9/build/
/JavaFXApplication9/dist/
/JavaFXApplication10/nbproject/private/
/JavaFXApplication10/build/
GraphicsInterface/.vs/GraphicsInterface/v15/.suo
*.db
