/LaserCut/nbproject/private/
/LaserCut/build/
/LaserCut/dist/
/HTML5Application/nbproject/private/
/JavaFXApplication9/nbproject/private/
/JavaFXApplication9/build/
/JavaFXApplication9/dist/
/JavaFXApplication10/nbproject/private/
/JavaFXApplication10/build/
GraphicsInterface/.vs/GraphicsInterface/v15/.suo
*.db
/JavaFXApplication11/nbproject/private/
/JavaFXApplication11/build/
/JavaFXApplication11/dist/
/JavaFXApplication12/nbproject/private/
/JavaFXApplication12/build/
/JavaFXApplication12/dist/
/CheckersBoard/nbproject/private/
/CheckersBoard/dist/
/CheckersBoard/build/
/ImageTest/nbproject/private/